<!-- product-create.html -->
<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Agregar Producto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-item>
    <ion-label>Nombre</ion-label>
    <ion-input [(ngModel)]="data.name" placeholder="Nombre"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Descripción</ion-label>
    <ion-input [(ngModel)]="data.description" placeholder="Descripción"></ion-input>
  </ion-item>

  <ion-item>
    <ion-button (click)="submitForm()">Agregar
    </ion-button>
  </ion-item>

</ion-content>