<!-- product-list.page.html -->
<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Bienvenido: {{userName}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button end color="warning"  size="small" routerLink="/car-products-list/{{userId}}">
    <ion-icon name="cart-outline" item-></ion-icon>
  </ion-button>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">nombre</th>
        <th scope="col">descripcion</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of productsData">
        <td>{{ item.id }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.description }}</td>
        <td style="display: flex">
          
          <ion-button color="secondary" size="small" (click)="add(item)">
            <ion-icon name="add-outline"></ion-icon>
          </ion-button>
        </td>
      </tr>
    </tbody>
  </table>
  
</ion-content>