<br>
<ion-header>
  
    <ion-title>Login</ion-title>
  
</ion-header>
<ion-content padding>
  <div class="login">
    <form class="custom-form" method="post">
      <ion-grid>
        <ion-item>
          <ion-label floating>Email</ion-label>
          <input
            type="email"
            [(ngModel)]="email"
            name="email"
            placeholder="Email"
            required="required"
          />
        </ion-item>
        <ion-item>
          <ion-label floating>Password</ion-label>
          <input
            type="password"
            [(ngModel)]="password"
            name="password"
            placeholder="Password"
            required="required"
          />
        </ion-item>
        <ion-row>
          <ion-col>
            <ion-button type="submit" color="secondary" size="small" (click)="login()">
              <ion-icon name="arrow-forward-outline"></ion-icon>
            </ion-button>
            <ion-col>
              
              <ion-button type="submit" color="secondary" size="small" routerLink='/register'> Register
              </ion-button>
              
            </ion-col>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>
</ion-content>

