<ion-header>
  <ion-toolbar>
    <ion-title>car-products-list</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <table class="table">
    <thead>
      <tr>
        
        <th scope="col">nombre</th>
        <th scope="col">descripcion</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of respuesta">
        
        <td>{{ item.name }}</td>
        <td>{{ item.description }}</td>
        <td style="display: flex">
          
          <ion-button color="danger" size="small" >
            <ion-icon name="trash"></ion-icon>
          </ion-button>
        </td>
      </tr>
    </tbody>
  </table>
</ion-content>
