<!-- product-edit.page.html -->
<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Actiualizar Producto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-item>
    <ion-label>Nombre</ion-label>
    <ion-input [(ngModel)]="data.name" placeholder="Nombre"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Descripción</ion-label>
    <ion-input [(ngModel)]="data.description" placeholder="Descripción"></ion-input>
  </ion-item>
  <ion-button (click)="update()" color="success" size="small">
    Actualizar
  </ion-button>
  <ion-button [routerLink]="[ '/products-list']" color="danger" size="small">
    Cancelar
  </ion-button>
</ion-content>