
<ion-content  color="primary">
  <form class="custom-form" method="post">
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <h3>Crea una cuenta</h3>
          </div>
          <div padding>
            <ion-item>
              <ion-input  
                type="name"
                [(ngModel)]="name"
                name="name"
                placeholder="Nombre"
                required="required"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-input 
                type="email"
                [(ngModel)]="email"
                name="email"
                placeholder="Email"
                required="required"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-input 
                type="password"
                [(ngModel)]="password"
                name="password"
                placeholder="Password"
                required="required"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-input 
                type="password"
                [(ngModel)]="confirmPassword"
                name="password"
                placeholder="Repeat the password"
                required="required"
              ></ion-input>
            </ion-item>
          </div>
          <div padding>
            <ion-button  size="large" type="submit" (click)="register()">Register</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>